# car_stats
car_stats/data/**/*.json
car_stats/data/**/*.csv
car_stats/logs/**/*
car_stats/__pycache__/**/*
car_stats/temp-plot.html

# tutorials
tutorials/data/**/*

# whatsapp
whatsapp/data/**/*

#transactions
transactions/data/**/*

#webtrends
webtrends/data/**/*
webtrends/output/**/*